<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <!-- <h2>Striped Rows</h2> -->
  <!-- <p>The .table-striped class adds zebra-stripes to a table:</p>             -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>skill set</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Resume</th>
        <th>Interviewer details</th>
  
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Yaswanth</td>
        <td>java,python</td>
        <td>yaswanth@email.com</td>
        <td>9987654321</td>
       <td><button>Download</button></td>
        <td><button>add</button></td>
        
        
      </tr>
      <tr>
        <td>Nirisha</td>
        <td>c,python,angular</td>
        <td>nirisha@gmail.com</td>
        <td>997684321</td>
        <td><button>Download</button></td>
        <td><button>add</button></td>

      </tr>
      <tr>
        <td>Alekya</td>
        <td>html,css,python</td>
        <td>alekya@email.com</td>
        <td>9972332190</td>
        <td><button>Download</button></td>
      <td><button>add</button></td>
      </tr>
      <tr>
        <td>Saitejaswini</td>
        <td>html,java,python</td>
        <td>saitejaswini@email.com</td>
        <td>997278901</td>
       <td><button>Download</button></td>
        <td><button>add</button></td>
        
      </tr>
  
    </tbody>
  </table>
</div>

</body>
</html>
