
<!-- <div id="back">
<div class="container ">
    
    <div class="card" style="width:250px" >
       -->
        <!-- <div>
      <img class="card-img-top .col-sm-1" src="../assets/profile.JPG" alt="Card image" style="width:100%">
      </div>
      <div class="card-bodyprofileDetails">
        <h4 class="card-title">Role : {{profileRole}}</h4>
        <p class="card-text" >Name : {{profileName}}</p>
        <p class="card-text">Email : {{profileEmail}}</p>
        <p class="card-text">Phone : {{profilePhno}}</p>
      </div>
    
    </div> -->

    <div id="back">
      <div class="container ">
          
          <div id="first" class="card">
              <!-- <div >    
                  <img class="card-img-top .col-sm-1" src="../assets/download.jpg" alt="Card image" style="width:100%">
                </div> -->
              <div>
            <img class="card-img-top .col-sm-1" id="img" src="../assets/profile.JPG" alt="Card image" >
            </div>
            <div class="card-body"> 
              <h4 class="card-title"><b>Role : </b>&nbsp; {{profileRole}}</h4>
              <p class="card-text" ><b>Name : </b> &nbsp;&nbsp; {{profileName}}</p>
              <p class="card-text"><b>Email : </b> &nbsp;&nbsp;{{profileEmail}}</p>
              <p class="card-text"><b>Phone : </b> &nbsp;&nbsp;{{profilePhno}} </p>
            </div>
          
          </div>
          </div>
          </div>
    



